<% layout('./layouts/boilerplate') -%>
<%- include('./partials/navbar', { activePage: "Blog" }) %>
<div class="container-fluid m-0">
    <div class="row mx-1 my-3">
        A collection of thoughts on all kinds of topics.
    </div>
    <div class="accordion">
        <div class="accordion-item">
            <div class="accordion-header">
                <button class="accordion-button collapsed bg-success text-light" type="button" data-bs-toggle="collapse" data-bs-target="#postOne" aria-expanded="false" aria-controls="postOne">
                    <div class="blog-post-title">2024/07/12 - Creating a Personal Website</div>
                </button>
            </div>
            <div class="accordion-collapse collapse" id="postOne">
                <div class="accordion-body blog-post-body bg-success-subtle">
                    <p>Recently I've been learning web development. It's not my first time learning it, that would be around two and a half years ago. At the time, my main area of study was artificial intelligence, and web development was just a temporary side project. Well, the situation is reversed now. I can talk more about AI some other time, in this post I would like to keep the focus on why I'm starting this website.</p>
                    <p>There are many reasons why someone would create a personal website. Some other bloggers would even insist that you <em>need</em> to have one. That is simply not true. Like many things in life, there are upsides and downsides. Having a personal website may give you benefits such allowing you to advertise yourself and connect with more people, but it also requires time and energy to maintain. For many people, the benefits are simply not worth the cost.</p>
                    <p>That said, I do believe that every web developer worth their salt should have a website that they create on their own. The content can be anything, what's important is to showcase what kind of functionality they can make. It's a proof of their competency, one that is more revelant than anything that could be written on a paper resume.</p>
                    <p>To be honest, that thought gives me anxiety. While yes, having my own website is a good way of showing my competency, it's also a good way of showing my incompetency. Mistakes will happen, certain sections of the website won't be as polished as they should be, and the end result won't be as good as something that's created by a team of designers and developers. That's just the nature of this kind of project. So be it.</p>
                    <p>My hope is that this website will reflect my growth as I continue learning more about software development. If learning a new technology inspires me to start a new project, I'll see if I can reference it somewhere here. Better that than leaving them scattered all over the place like I have done with my old projects.</p>
                    <p>If you're someone who's checking out this website because you are interested in working with me, whether as a software developer or anything else, thank you for taking your time to visit. Feel free to click on things, see what the website has to offer, then let me know if you're still interested.</p>
                    <p>If you're a fellow developer who's looking for inspiration, feel free to check out the website as well. I know I have benefited greatly from seeing projects created by other developers. I have plans to create a section for listing all the tools I've used, as well as another section for documenting my work. Hopefully they already exist by the time you're reading this.</p>
                    <p>If you're someone who has no interest in software development but wants to know my thoughts on certain other topics, well, I hope you find what you're looking for. The website is still very barebone as of now and I'm new to content writing as well. While I have plans to write about my hobbies and interests in the future, it's hard to imagine what kind of content will exist on the site a few months or a few years from now.</p>
                    <p>If you're someone who wants to get in touch with me for whatever reason, feel free to send me a message via the 'Contact' section. By now, there should be one with that name or something similar. If there isn't, assume that it has been removed due to privacy reasons.</p>
                    <p>Lastly, this website will also serve as an archive for my future selves and for anyone else who's interested. I admit it's somewhat embarrassing to expose my inner thoughts like this, but I think there's value in keeping them around as something to look back on in the future. For that reason, at least for this kind of content, they will remain unedited until the end of this website. Let it stay as the product of my environment and my choices up until that point in time.</p>
                </div>
            </div>
        </div>
    </div>
</div>
