<% layout('./layouts/boilerplate') -%>
<%- include('./partials/navbar', { activePage: "Contact" }) %>
<div class="container-fluid m-0">
    <div class="row mx-1 my-3">
        TODO: Create functionality to message the author (don't use personal contact info!)
    </div>
</div>
