<% layout('./layouts/boilerplate') -%>
<%- include('./partials/navbar') %>
<div class="container my-4">
    <div class="row">
        <div class="col-xl-1">
            <!-- empty space -->
        </div>
        <div class="col-lg-6 col-xl-5 mb-2">
            <div class="sudoku-board mb-2 bg-primary">
                (Board goes here) <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, eligendi? Debitis, nam. Laborum soluta itaque quod sit dolores, dolorum tempora pariatur nisi necessitatibus doloribus nobis expedita quam, officiis impedit recusandae sed esse maiores saepe fugit? Placeat corporis minima deleniti esse vero earum omnis quas iusto, quod sequi fugiat, facere delectus.
            </div>
            <div class="sudoku-numbers bg-success">
                (Number keys go here) <br>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat excepturi odio nostrum. Quas ullam eaque consequatur, accusantium et, officiis, recusandae incidunt temporibus blanditiis sint reiciendis?
            </div>
        </div>
        <div class="col-lg-6 col-xl-5 mb-2">
            <div class="sudoku-sideboard bg-secondary">
                (Sideboard goes here) <br>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. A iusto veritatis tempore. Quia nihil voluptate, nam natus eos vero voluptas iusto nesciunt. Sit adipisci tempore excepturi et, soluta repellendus eius, consequuntur corporis reiciendis ipsam pariatur veniam eaque sint iste reprehenderit fugit harum delectus dolorem minima quasi voluptatem doloribus! Beatae, at.
            </div>
        </div>
        <div class="col-xl-1">
            <!-- empty space -->
        </div>
    </div>
</div>