// Colors
$color-body: #EDC9AF;
$color-navbar: 	#80461B;
$color-navbar-text: #FFFFFF;

// Fonts
$font-family: "Karla", sans-serif;
$font-weight-navbar: 600;

// Sudoku
$sudoku-square-color: white;
$sudoku-square-color-focused: rgb(200, 200, 200);
$sudoku-text-color: black;
$sudoku-square-dim: 50px;
$sudoku-square-border: 1px solid black;
