// Colors
$color-body: #EDC9AF;
$color-navbar: 	#80461B;
$color-navbar-text: #FFFFFF;

// Fonts
$font-family: "Karla", sans-serif;
$font-weight-navbar: 600;

// Sudoku
$sudoku-square-dim: 50px;
$sudoku-square-border: 1px solid black;
$sudoku-square-border-thicker: 3px solid black;
$sudoku-square-color: white;
$sudoku-square-color-focused: rgb(200, 200, 200);
$sudoku-square-font-color: black;
$sudoku-square-font-color-conflict: red;
$sudoku-square-font-size: 1.25em;
$sudoku-number-button-dim: 60px;
$sudoku-number-button-color: white;
$sudoku-number-button-font-color: black;
$sudoku-number-button-font-size: 1.5em;
