@use 'variables' as *;

/* ===== Board & Squares ===== */
.sudoku-board {
    position: relative;
}

.sudoku-board-overlay {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: $sudoku-board-overlay-font-color;
    font-size: $sudoku-board-overlay-font-size;
    font-weight: $sudoku-board-overlay-font-weight;
}

.loading-overlay {
    display: flex;
    background-color: $sudoku-board-overlay-loading-color;
}

.victory-overlay {
    display: flex;
    background-color: $sudoku-board-overlay-victory-color;
}

.sudoku-row {
    display: flex;
    justify-content: center;
}

.sudoku-square {
    height: $sudoku-square-dim;
    width: $sudoku-square-dim;
    background-color: $sudoku-square-color;
    color: $sudoku-square-font-color;
    font-size: $sudoku-square-font-size;
    text-align: center;
    align-content: center;
    font-weight: $sudoku-square-font-weight-regular;

    // default border
    border-right: $sudoku-square-border;
    border-bottom: $sudoku-square-border;
}

.starting-square {
    font-weight: $sudoku-square-font-weight-bold;
}

// thicker border for board perimeter and 3x3 sections
@for $i from 1 through 9 {
    @for $j from 1 through 9 {
        @if $i == 1 {
            #sudoku-square-#{$i}-#{$j} {
                border-top: $sudoku-square-border-thicker;
            }
        }
        
        @if $i % 3 == 0 {
            #sudoku-square-#{$i}-#{$j} {
                border-bottom: $sudoku-square-border-thicker;
            }
        }

        @if $j == 1 {
            #sudoku-square-#{$i}-#{$j} {
                border-left: $sudoku-square-border-thicker;
            }
        }
        
        @if $j % 3 == 0 {
            #sudoku-square-#{$i}-#{$j} {
                border-right: $sudoku-square-border-thicker;
            }
        }
    }
}

// if focused
.focused {
    background-color: $sudoku-square-color-focused;
}

// if conflicting with another square
.conflict {
    color: $sudoku-square-font-color-conflict;
}

/* ===== Number Buttons ===== */
.sudoku-numbers {
    display: flex;
    justify-content: center;
}

.sudoku-number-button {
    height: $sudoku-number-button-dim;
    width: $sudoku-number-button-dim;
    background-color: $sudoku-number-button-color;
    color: $sudoku-number-button-font-color;
    font-size: $sudoku-number-button-font-size;
}